In [1]:
'''
@Author: Rashmi
@Date: 2021-10-6 1:57
@Last Modified by: Rashmi
@Last Modified time: 2021-10-6 2:02
@Title :Write a Python program to insert a new column in existing DataFrame
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
Values for each column will be:
name : "Suresh", score: 15.5, attempts: 1, qualify: "yes", label: "k"
''' 
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data,labels)
print("Orginal rows:")
print(df)
df['year'] = (2001,2002,2003,2004,2005,2006,2007,2008,2009,2010)
print("adding new column year into dataframe\n",df)

Orginal rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
adding new column year into dataframe
         name  score  attempts qualify  year
a  Anastasia   12.5         1     yes  2001
b       Dima    9.0         3      no  2002
c  Katherine   16.5         2     yes  2003
d      James    NaN         3      no  2004
e      Emily    9.0         2      no  2005
f    Michael   20.0         3     yes  2006
g    Matthew   14.5         1     yes  2007
h      Laura    NaN         1      no  2008
i      Kevin    8.0         2      no  2009
j      Jonas   19.0         1     yes  2010