In [6]:
'''
@Author: Rashmi
@Date: 2021-10-5 22:35
@Last Modified by: Rashmi
@Last Modified time: 2021-10-5 22:40
@Title : Write a Python program to select the specified columns and rows from a given data
frame.
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
''' 
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data)
print("given dataframe\n",df)
print("\n")
print("Select specific columns of name,score and rows of 1,3,5,6: using iloc indexes")
print(df.iloc[[1, 3, 5, 6], [0,1]])
print("Select specific columns of name,score and rows of 1,3,5,6 using loc labels")
print(df.loc[[1, 3, 5, 6], ['name','score']])  #using column name and integer index for rows

given dataframe
         name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes


Select specific columns of name,score and rows of 1,3,5,6: using iloc indexes
      name  score
1     Dima    9.0
3    James    NaN
5  Michael   20.0
6  Matthew   14.5
Select specific columns of name,score and rows of 1,3,5,6 using loc labels
      name  score
1     Dima    9.0
3    James    NaN
5  Michael   20.0
6  Matthew   14.5